/docs/templates/conecta-acta-v1-en-blanco.pdf binary
/output/pdf/MV-PDF-01-base-autorizada.diff -diff
/output/pdf/MV-PDF-01-increment-final.diff -diff
/output/pdf/MV-PDF-01-increment.diff -diff
/public/templates/conecta-acta-v1-en-blanco.pdf binary
